.container{
    max-width: 1200px;
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
    background-color: rgb(182, 179, 179);
}
.movieList{
    max-width: 450px;
    background-color: rgb(104, 104, 243);
    color: white;
    padding: 2rem;
    border-radius: 1rem;
}
.movie h1{
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    margin: 2rem;
}