body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --clr1:blue;
  --clr2:rgb(155,155,155);
  --clr3:rgb(255,255,255);
}
.btn {
  display: block;
  margin: 4rem auto;
  padding: 0.8em 2rem;
  border: 0;
  font-size: 1.2rem;
  font-weight: 600;
}
 .btn-pri{
  background-color: var(--clr1);
  color: var(--clr3);
 }
 .btn-sec{
  background-color: var(--clr2);
  color: var(--clr3);
 } .btn-tri{
  background-color: var(--clr3);
  color: var(--clr2);
  border: 1px solid  var(--clr2);
 }
 .btn-blue{
  background-color: var(--clr3);
  color: var(--clr1);
  border: 1px solid  var(--clr1);
 }
 .btn-noBorder{
  border: 0;
 }
 .btn-large{
  padding: 1rem 5rem;
  font-size: 1.5rem;
 }